@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
  }
} */
/* 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
} */

/* @layer base { */
/* :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }

  .dark {
     --background: 222.2 84% 4.9%;
     
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  } */
/* 
  :root {
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --ring: 215 20.2% 65.1%;

    --background: 214.3 31.8% 91.4%;
    --foreground: 210.5 100% 12.4%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 214.3 31.8% 91.4%;
    --popover-foreground: 210.5 100% 12.4%;

    --card: 214.3 31.8% 91.4%;
    --card-foreground: 210.5 100% 12.4%;

    --primary: 210.5 100% 12.4%;
    --primary-foreground: 214.3 31.8% 91.4%;

    --secondary: 214.3 31.8% 91.4%;
    --secondary-foreground: 210.5 100% 12.4%;

    --accent: 37.3 57% 84.5%;
    --accent-foreground: 210.5 100% 12.4%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --radius: 0.5rem;
  }

  .dark {
    --border: 210.5 100% 12.4%;

    --input: 210.5 100% 12.4%;

    --ring: 210.5 100% 12.4%;

    --background: 210.5 100% 12.4%;
    --foreground: 214.3 31.8% 91.4%;

    --muted: 210.5 100% 12.4%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 214.3 31.8% 91.4%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 214.3 31.8% 91.4%;

    --primary: 37.3 57% 84.5%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 215.4 16.3% 46.9%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
       --radius: 0.5rem;
  }
} */
@layer base {
  :root {
    /* --background: 0 0% 98%; */
    --background: rgb(243, 243, 243);
    /* --background: rgba(228, 228, 228, 1); */
    --main-background: rgb(245, 245, 245);
    --nav-background: rgb(180, 180, 180);
    --drawer-background: rgba(255, 255, 255, 0.7);
    --accordian-background: rgba(205, 204, 204, 0.4);
    /* --card: rgba(55, 66, 87, 1); */
    --card: rgb(228, 228, 228);
    --card-foreground: rgb(22, 22, 22);
    --cardcolumn-background: rgb(166, 202, 222);

    /* --card-foreground: rgb(236, 236, 236); */
    --taskcard-foreground: rgb(22, 22, 22);
    --taskcard-background: rgba(220, 220, 220, 0.7);
    --taskcardsmall-background: rgba(250, 250, 250, 1);

    --foreground: rgb(12, 12, 12);

    --popover: rgb(224, 222, 222);
    --popover-foreground: rgb(12, 12, 12);
    --primary: rgb(131, 179, 207);
    /* --primary: rgb(114, 166, 196); */
    --primary-foreground: rgb(10, 10, 10);
    /* --primary-foreground: rgb(250, 250, 250); */
    --secondary: rgb(240, 240, 240);
    --secondary-foreground: rgb(12, 12, 12);
    --muted: rgb(225, 225, 225);
    /* --muted: rgb(240, 240, 240); */
    --muted-foreground: rgb(120, 120, 120);
    --accent: rgb(192, 191, 191);
    --accent-foreground: rgb(12, 12, 12);
    --destructive: rgb(153, 0, 0);
    --destructive-foreground: rgb(250, 250, 250);
    --border: rgb(229, 229, 229);
    --input: rgb(204, 204, 204);
    --ring: rgb(171, 171, 171);

    --badgeYellow: rgb(253 224 71);
    --badgeOrange: rgb(253 186 116);
    --badgePurple: rgb(196 181 253);
    --badgeGreen: rgb(74 222 128);
    --badgeBlue: rgb(147 197 253);
    --badgeRed: rgb(252 165 165);
    --badgeGray: rgb(178, 178, 178);

    --radius: 1rem;
  }

  .dark {
    /* --background: rgb(22, 46, 73); */
    --background: rgb(22, 46, 68);

    --drawer-background: rgba(22, 46, 68, 0.6);
    --accordian-background: rgba(22, 36, 52, 0.7);
    --main-background: rgb(54, 67, 86);
    --nav-background: rgb(23, 32, 44);
    /* --nav-background: rgb(31, 40, 53); */
    --foreground: rgb(236, 236, 236);
    /* --card: rgb(228, 228, 228); */
    /* --card: rgba(55, 66, 87, 1); */
    /* --card: rgb(22, 46, 73);
    */
    --card: rgb(31, 40, 53);
    --card-foreground: rgb(233, 230, 230);

    /* --card-foreground: rgb(37, 38, 42); */
    /* --card-foreground: rgb(37, 38, 42); */
    --taskcard-foreground: rgb(222, 219, 219);
    --taskcard-background: rgba(80, 80, 80, 0.85);
    --cardcolumn-background: rgb(56, 69, 75);
    --taskcardsmall-background: rgb(48, 49, 50);
    --primary: rgb(60, 108, 136);

    /* --primary: rgb(98, 151, 151); */
    --primary-foreground: rgb(213, 212, 212);
    --popover: rgb(25, 25, 25);
    --popover-foreground: rgb(250, 250, 250);
    --secondary: rgb(50, 55, 63);
    --secondary-foreground: rgb(250, 250, 250);
    --muted: rgb(73, 85, 100);
    --muted-foreground: rgb(155, 160, 171);
    --accent: rgb(51, 57, 71);
    --accent-foreground: rgb(250, 250, 250);
    --destructive: rgb(153, 0, 0);
    --destructive-foreground: rgb(250, 250, 250);
    --border: rgb(31, 31, 31);
    --input: rgb(45, 45, 45);
    --ring: rgb(92, 92, 92);
    --badgeYellow: rgb(161 98 7);
    --badgeOrange: rgb(180 83 9);
    --badgePurple: rgb(88 28 135);
    --badgeGreen: rgb(21 128 61);
    --badgeRed: rgb(127 29 29);
    --badgeBlue: rgb(29 78 216);
    --badgeGray: rgb(77, 77, 77);
  }
}

/* @layer base { */
/* :root {

    --gradient: #134e5e;
    --background: 205 98.3% 98.44%;
    --foreground: 205 6.6000000000000005% 0.88%;

    --muted: 205 6.6000000000000005% 92.2%;
    --muted-foreground: 205 3.3000000000000003% 42.2%;

    --popover: 205 37.199999999999996% 92.2%;
    --popover-foreground: 205 6.6000000000000005% 1.1%;

    --card: 205 37.199999999999996% 92.2%;
    --card-foreground: 205 6.6000000000000005% 1.1%;

    --border: 205 11.600000000000001% 89.88%;
    --input: 205 11.600000000000001% 89.88%;

    --primary: 205 66% 22%;
    --primary-foreground: 205 1.32% 92.2%;

    --secondary: 205 3.3000000000000003% 100%;
    --secondary-foreground: 205 4.96% 12.2%;

    --accent: 205 3.3000000000000003% 100%;
    --accent-foreground: 205 4.96% 12.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 205 66% 22%;

    --radius: 0.5rem;
  } */
/* :root {
  
    --gradient: #134e5e;
    --background: 205 98.3% 98.44%;
    --foreground: 205 6.6000000000000005% 0.88%;

    --muted: 205 6.6000000000000005% 92.2%;
    --muted-foreground: 205 3.3000000000000003% 42.2%;

    --popover: 205 81.42% 89.86%;
    --popover-foreground: 205 6.6000000000000005% 1.1%;

    --card: 205 81.42% 89.86%;
    --card-foreground: 205 6.6000000000000005% 1.1%;

    --border: 205 11.600000000000001% 89.88%;
    --input: 205 11.600000000000001% 89.88%;

    --primary: 205 66% 22%;
    --primary-foreground: 205 1.32% 92.2%;

    --secondary: 205 16.5% 61.78%;
    --secondary-foreground: 205 4.96% 12.2%;

    --accent: 205 16.5% 61.78%;
    --accent-foreground: 205 4.96% 12.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 205 66% 22%;

    --radius: 0.5rem;
  }
  .dark {
    --border: 210.5 100% 12.4%;

    --input: 210.5 100% 12.4%;

    --ring: 210.5 100% 12.4%;

    --background: 210.5 100% 12.4%;
    --foreground: 214.3 31.8% 91.4%;

    --muted: 210.5 100% 12.4%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 214.3 31.8% 91.4%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 214.3 31.8% 91.4%;

    --primary: 37.3 57% 84.5%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 215.4 16.3% 46.9%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --radius: 0.5rem;
  } */

/* } */
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  p {
    @apply break-words;
  }
}
@layer utilities {
  .header-input {
    @apply border-2 border-transparent bg-transparent  font-bold outline-none cursor-pointer p-2;
  }

  .description-input {
    @apply border-2 border-transparent bg-transparent  font-normal outline-none cursor-pointer p-2;
  }

  .header-input.editing {
    @apply border-2 border-black rounded-lg bg-card text-card-foreground;
  }

  .description-input.editing {
    @apply border-2 border-black rounded-lg  bg-card text-card-foreground;
  }
  /* .popoverCenter {
    @apply fixed top-1/2 left-0 translate-x-1/2 translate-y-1/2;
  } */
}
