@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: rgb(253, 253, 253);
    --main-background: rgb(245, 245, 245);
    --nav-background: rgb(174, 175, 182);
    --drawer-background: rgba(255, 255, 255, 0.7);
    --accordion-background: rgba(204, 203, 208, 0.7);
    --card: rgb(228, 228, 228);
    --card-foreground: rgb(22, 22, 22);
    --cardcolumn-background: rgb(166, 202, 222);
    --taskcard-foreground: rgb(22, 22, 22);
    --taskcard-background: rgba(225, 225, 225, 0.7);
    --taskcardsmall-background: rgba(250, 250, 250, 1);
    --foreground: rgb(12, 12, 12);
    --popover: rgb(224, 222, 222);
    --popover-foreground: rgb(12, 12, 12);
    --primary: rgb(131, 179, 207);
    --primary-foreground: rgb(10, 10, 10);
    --secondary: rgb(240, 240, 240);
    --secondary-foreground: rgb(12, 12, 12);
    --muted: rgb(225, 225, 225);
    --muted-foreground: rgb(120, 120, 120);
    --accent: rgb(192, 191, 191);
    --accent-foreground: rgb(12, 12, 12);
    --destructive: rgb(153, 0, 0);
    --destructive-foreground: rgb(250, 250, 250);
    --border: rgb(229, 229, 229);
    --input: rgb(204, 204, 204);
    --ring: rgb(171, 171, 171);

    --badgeYellow: rgb(253 224 71);
    --badgeOrange: rgb(253 186 116);
    --badgePurple: rgb(152, 147, 228);
    --badgeGreen: rgb(74 222 128);
    --badgeBlue: rgb(147 197 253);
    --badgeRed: rgb(221, 128, 128);
    --badgeGray: rgb(178, 178, 178);

    --radius: 1rem;
  }

  .dark {
    --background: rgb(28, 44, 50);
    --drawer-background: rgba(22, 46, 68, 0.6);
    --accordion-background: rgba(26, 33, 36, 0.7);
    --main-background: rgb(54, 67, 86);
    --nav-background: rgb(12, 23, 26);

    --foreground: rgb(236, 236, 236);

    --card: rgb(43, 90, 118);
    --card-foreground: rgb(250, 250, 250);
    --taskcard-foreground: rgb(222, 219, 219);
    --taskcard-background: rgba(22, 46, 68, 0.6);
    --cardcolumn-background: rgb(56, 69, 75);
    --taskcardsmall-background: rgb(37, 40, 44);
    --primary: rgb(43, 90, 118);

    --primary-foreground: rgb(213, 212, 212);
    --popover: rgb(25, 25, 25);
    --popover-foreground: rgb(250, 250, 250);
    --secondary: rgb(50, 55, 63);
    --secondary-foreground: rgb(250, 250, 250);
    --muted: rgb(73, 85, 100);
    --muted-foreground: rgb(155, 160, 171);
    --accent: rgb(51, 57, 71);
    --accent-foreground: rgb(250, 250, 250);
    --destructive: rgb(153, 0, 0);
    --destructive-foreground: rgb(250, 250, 250);
    --border: rgb(31, 31, 31);
    --input: rgb(45, 45, 45);
    --ring: rgb(92, 92, 92);
    --badgeYellow: rgb(161 98 7);
    --badgeOrange: rgb(180 83 9);
    --badgePurple: rgb(88 28 135);
    --badgeGreen: rgb(21 128 61);
    --badgeRed: rgb(127 29 29);
    --badgeBlue: rgb(29 78 216);
    --badgeGray: rgb(77, 77, 77);
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  p {
    @apply break-words;
  }
}
@layer utilities {
  .header-input {
    @apply border-2 border-transparent bg-transparent  font-bold outline-none cursor-pointer p-2;
  }

  .description-input {
    @apply border-2 border-transparent bg-transparent  font-normal outline-none cursor-pointer p-2;
  }

  .header-input.editing {
    @apply border-2 border-black rounded-lg bg-card text-card-foreground;
  }

  .description-input.editing {
    @apply border-2 border-black rounded-lg  bg-card text-card-foreground;
  }
  .bg-gradient-background-dark {
    background: hsl(196.8deg 63.5% 8.19%) 0%;
    background: -moz-linear-gradient(
      68deg,
      hsl(196.8deg 63.5% 8.19%) 0%,
      hsl(196.8deg 33.1% 13.84%) 100%
    );
    background: -webkit-linear-gradient(
      68deg,
      hsl(196.8deg 63.5% 8.19%) 0%,
      hsl(196.8deg 33.1% 13.84%) 100%
    );
    background: linear-gradient(
      68deg,
      hsl(196.8deg 63.5% 8.19%) 0%,
      hsl(196.8deg 33.1% 13.84%) 100%
    );
  }
  .bg-gradient-background-light {
    background: hsla(0, 0%, 97%, 1);

    background: linear-gradient(
      206deg,
      hsla(0, 0%, 97%, 1) 0%,
      hsla(222, 48%, 95%, 1) 100%
    );

    background: -moz-linear-gradient(
      206deg,
      hsla(0, 0%, 97%, 1) 0%,
      hsla(222, 48%, 95%, 1) 100%
    );

    background: -webkit-linear-gradient(
      206deg,
      hsla(0, 0%, 97%, 1) 0%,
      hsla(222, 48%, 95%, 1) 100%
    );
  }
}
